/*-- scss:defaults --*/
/* Import Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*-- scss:rules --*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #060606;
    color: #f8f9fa;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/*-- scss:mixins --*/
/* Add any mixins here if needed */

/*-- scss:functions --*/
/* Add any SCSS functions here if needed */

/*-- scss:uses --*/
/* Add any additional SCSS imports or uses here if needed */
